<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentManagement">
        <unicorn>
            <configurations>
                <configuration name="Foundation.AnalyticsConnect" description="Foundation AnalyticsConnect" dependencies="Foundation.Serialization" extends="Helix.Foundation">
                    <rolePredicate>
                        <include domain="modules" pattern="^$(layer) $(module) .*$" />
                    </rolePredicate>
                </configuration>
            </configurations>
        </unicorn>
    </sitecore>
</configuration>