<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
    <sitecore role:require="Standalone or ContentDelivery or ContentManagement">
        <settings>
            <setting name="Sitecore.Foundation.AnalyticsConnect.SummaryGoalId" value="{12947313-6C49-4E26-A3CC-0855E5C58042}" />
            <setting name="Sitecore.Foundation.AnalyticsConnect.SpecsGoalId" value="{4133256B-77A3-4D72-B649-5D5EA922DC34}" />
            <setting name="Sitecore.Foundation.AnalyticsConnect.ReviewGoalId" value="{142194AB-4512-45CA-A06A-316A0C803E4C}" />
            <setting name="Sitecore.Foundation.AnalyticsConnect.BuyGoalId" value="{5294E4FA-B6FE-49B0-9B78-91BC8AF30271}" />
            <setting name="Sitecore.Foundation.AnalyticsConnect.CommentGoalId" value="{B3370FD6-8A85-4935-9EEB-84766DB088B1}" />
            <setting name="Sitecore.Foundation.AnalyticsConnect.ShareGoalId" value="{5656AF87-115D-47D4-B7DA-7AE68C4FC56D}" />
            <setting name="Sitecore.Foundation.AnalyticsConnect.PictureGoalId" value="{6D42C2BC-C4CE-43DF-B243-408C6D66214E}" />
        </settings>
    </sitecore>
</configuration>